<h3>Confirmation</h3>

<%= form_with(model: @vlog, url: vlogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @vlog.title %></p>
  <p>本文:<%= @vlog.content %></p>
  <p>画像:
    <%= hidden_field_tag :"cache[image]",@vlog.image.cache_name%>
    <!-- 画像を投稿しない場合にエラーが出ないようにif文を追加 -->
    <%= image_tag(@vlog.image.url)if @vlog.image.present? %>
  </p>
  <%= form.submit  "Register" %>
<% end %>

<%= form_with(model: @vlog, url: new_vlog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.submit "Back", name: 'back'  %>
<% end %>
