<h3>Confirmation</h3>

<%= form_with(model: @vlog, url: vlogs_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @vlog.title %></p>
  <p>本文:<%= @vlog.content %></p>
  <%= form.submit  "Register" %>
<% end %>

<%= form_with(model: @vlog, url: new_vlog_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.submit "Back", name: 'back'  %>
<% end %>
