

<%= form_with(model: @user, local: true )do |f| %>
  <h1>Sign up</h1>

  <% if@user.errors.any? %>
    <div id ="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
    <ul>
      <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
    </div>
  <% end %>

  <div>
    <%= f.text_field :name, placeholder: 'Name' %>
  </div>

  <div>
    <%= f.email_field :email, placeholder: 'E-mail' %>
  </div>

  <div>
    <%= f.password_field :password, placeholder: 'New password' %>
  </div>

  <div>
    <%= f.password_field :password_confrimation, placeholder: 'Password confirmation' %>
  </div>

  <div>
    <%= f.submit "Create my account" %>
  </div>

<% end %>
